{% extends "cruds/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Adminlte Login" %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
	  <h2>{% trans "Login" %}</h2>
	  <form method="post">
	    {% csrf_token %}
	    {{ form|crispy  }}
	    <input type="hidden" name="next" value="{{next}}" />
	    <button class="btn btn-success" type="submit"> {% trans "Login" %}</button>
	  </form>
	</div>
</div>
{% endblock %}