csrbuilder==0.10.1
certvalidator==0.11.1
crlbuilder==0.10.2
certbuilder==0.14.2
appdirs==1.4.3
asn1crypto==0.24.0
cffi==1.11.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3
Django==1.11.15
django-appconf==1.0.2
djangorestframework==3.8.2
idna==2.7
itypes==1.1.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
olefile==0.45.1
packaging==17.1
Pillow==5.2.0
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.5
requests>=2.20.0
six==1.11.0
uritemplate==3.0.0
dateutils
pyfva>=0.0.29
pycryptodome>=3.6.4
celery==4.2.0
gunicorn
psycopg2-binary
https://github.com/Solvosoft/soapfish/archive/v0.6.0.zip
django-crispy-forms==1.7.2
