{% extends 'adminlte/base.html'%}
{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            	<div class="box-body">
<h1> Bienvenido</h1>
<p>
	Este sistema es un programa de prueba cuya función es ayudar en el proceso de autenticación con 
	firma digital bajo un esquema moderno.<br>
	Considere que no es un sistema de producción sino de pruebas.
</p>
<p>
	Para poder crear un proceso de inicio de sesión con firma digital se necesita tener registrada una
	institución y sus respectivas URLs de notificación (ver opción editar de institución). <br>
	Una vez creada la institución se podrá acceder a los detalles de la misma para observar las claves de accesos.<br>
	Se proporciona lo siguiente en formato PEM:
	<ul>
		<li><b>private key:</b> Clave privada para desencriptar mensajes.</li>
		<li><b>server public key:</b> Clave pública para encriptar mensajes del servidor.</li>
		<li><b>public certificate:</b> Certificado de validación de servicio.</li>
	</ul>
	<b>Nota:</b> Mantenga esta información en un lugar seguro.
</p>
<h2> Enlaces útiles </h2>
<p>  Todos los enlaces útiles estarán en la barra de menú a la izquierda, pero se puede comenzar con:
</p>

<ul>
	<li><a href="{% url 'login' %}">Iniciar sesión</a></li>
	<li><a href="{% url 'institution_institution_list' %}">Crear una institución </a></li>
	<li><a href="http://dfva.readthedocs.io/es/latest/API.html">Revisar la documentación</a></li>
</ul>
		</div>
	</div>
</div></</div>

{% endblock%}
</body>
</html>