{% extends "adminlte/base.html" %}
{% load crispy_forms_tags %}

{% load i18n static %}
{% block title %}{% trans "Create new Institution" %} {% endblock %}

{% block content %}
<a class="btn" href="{% url 'institution_list' %}" title="{% trans 'Go back'%}">
        <i class="fas fa-reply"></i> {% trans 'Go list institution'%} </a><hr>

{% if form.errors%}
<div class="alert alert-warning">
        <ul>
{{form.errors}}
        </ul>
</div>
{%endif%}
{% crispy form %}

{% endblock%}


{% block javascript_extra %}
<script>
$("#general").collapse('show');
$('a[href="#avanzado"]').addClass("float-right");
</script>
{% endblock %}
