amqp==2.6.0
asn1crypto==1.4.0
celery==4.4.5
crlbuilder==0.10.2
certbuilder==0.14.2
certifi==2020.6.20
certvalidator==0.11.1
cffi==1.14.3
coreapi==2.3.3
crlbuilder==0.10.2
cryptography==3.3.2
csrbuilder==0.10.1
dateutils==0.6.11
Django==3.1.11
django-appconf==1.0.4
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-crispy-forms==1.9.2
djangorestframework==3.12.1
django-timezone-field==4.0
future==0.18.2
gunicorn==20.0.4
soapfish2==0.7.0
Markdown==3.2.2
oscrypto==1.2.1
Pillow==9.3.0
psycopg2-binary==2.8.6
pycryptodome==3.9.8
pyfva==0.0.40
pygelf==0.3.6
Pygments==2.9.0
pygraphviz==1.5
requests==2.24.0
six==1.15.0
Sphinx==4.0.2
sphinx-rtd-theme==0.5.2