{% extends 'adminlte/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<a href="{% url 'total_per_minute' %}">Duración por minuto</a>

<div class="card">
  <div class="card-body">
	    <div class="row">
    <div class="col">
        <h5 > Filtro por fechas </h5>


<form method="get">
    <table>
    {{form|crispy}}
    </table>
    <input type="submit" name="submit" value="Filtrar" />
</form>
    </div>
    <div class="col">
    Usando las fechas :<br>
        Primer registo: {{first_date|date:"SHORT_DATETIME_FORMAT"}}<br>
        Último registro: {{last_date|date:"SHORT_DATETIME_FORMAT"}}<br>
	  Inicio {{start_date|date:"SHORT_DATETIME_FORMAT"}}<br>
	  Fin {{end_date|date:"SHORT_DATETIME_FORMAT"}}<br>
    </div>
  </div>

  </div>
</div>

<br>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active"
           id="graficos-tab" data-toggle="tab" href="#nav-graficos" role="tab" aria-controls="graficos" aria-selected="true"
           style="color: green!important;">Gráficos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
            id="tablas-tab" data-toggle="tab" href="#nav-tablas" role="tab" aria-controls="tablas" aria-selected="true"
           style="color: green!important;">Tabla</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
<div class="tab-content" id="nav-tabdata">
  <div class="tab-pane fade show active" id="nav-graficos" role="tabpanel" aria-labelledby="graficos-tab">
      <canvas id="chart_1" data-href="{% url 'durations_stats' %}?chartid=chart_1&{{form_params}}"
	     class="chartsobj" style="height: 300px; width: 100%;"></canvas>
      <canvas id="chart_2" data-href="{% url 'total_stats'   %}?chartid=chart_2&{{form_params}}"
	     class="chartsobj" style="height: 300px; width: 100%;"></canvas>
       <canvas id="chart_3" data-href="{% url 'error_stats'   %}?chartid=chart_3&{{form_params}}"
	     class="chartsobj" style="height: 300px; width: 100%;"></canvas>
       <canvas id="chart_4" data-href="{% url 'size_stats'  %}?chartid=chart_4&{{form_params}}"
	     class="chartsobj" style="height: 300px; width: 100%;"></canvas>
  </div>
  <div class="tab-pane fade" id="nav-tablas" role="tabpanel" aria-labelledby="tablas-tab">
      <div id="chart_1_extra" class="breadcrumb"></div>
      <div id="chart_2_extra" class="breadcrumb"></div>
      <div id="chart_3_extra" class="breadcrumb"></div>
      <div id="chart_4_extra" class="breadcrumb"></div>
  </div>
</div>
  </div>
</div>

{% endblock %}

{% block javascript_extra %}
<script src="{% static 'js/Chart_2.4.0.min.js' %}"></script>
<script>

$(document).ready(function(){

	$(".chartsobj").each(function(){
		$.ajax({
			  dataType: "json",
			  url: $(this).data('href'),
			  success: function(data){
					var chartid=data['chartid'];
					var ctx = document.getElementById(chartid).getContext('2d');
					var chart = new Chart(ctx,  data['graph']);
					$("#"+chartid+"_extra").html(data['extras']);
					$("#"+chartid).after(data['after_graph']);
			}
	});
 });
});
</script>


{% endblock %}
