{% extends 'adminlte/base.html'%}
{% load static %}

{% block content %}
  <div class="row">
      <div class="col-md-10 offset-md-1">

          	<button  class="btn btn-success"  id="BotonDeFirmar"
						data-fva="true" data-url="{% url 'sign_terms_document' object.pk %}"
						data-urlconsultafirma="{% url 'termsigned_check'  %}"
						data-dominio="{{ request.scheme }}://{{ request.get_host }}"
						data-successurl="{% url 'check_autorization' %}"
						data-parautenticarse="al Sitio de Verificaci&oacute;n"
						data-mensajedeerror="No se pudo realizar la firma en el sitio de verificaci&oacute;n."
						> Firmar aceptación de documento </button>
          	
          	<br><br><br>
          	<h1 class="text-heading"> Documento a firmar:</h1>
          	<pre>
          	{{text}}
          	</pre>
          	

							
      </div>
  </div>
  
{% endblock %}

{% block javascript_extra %}

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/Bccr.Fva.ClienteInterno.Firmador-1.0.3.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/firma-verificacion-1.0.3.js' %}"></script>

{% endblock %}
